<%- include("partials/head")%>

    <%- include('partials/navbar')%>

        <div class="container pt-2">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <h1>DOISH</h1>

                    <h2>My To Do list(s):</h2>

                    <ul class="list-group">
                        <li class="list-group-item"><a href="/daily">Daily</a></li>
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>

        </div>



<%- include('partials/footer')%>