body {
    background-color: #f7ede2;
    font-family: 'Mitr', sans-serif;
    font-size: 1rem;
}

button {
    border: none;
}

h1 {
    color: #f28482;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 2px 2px black
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

nav {
    background-color: #84a59d;
}

footer {
    background-color: #84a59d !important;
}



.brand {
    font-weight: 600;
    font-size: 1.5rem;
}

.costBorder {
    border-radius: 5%;
    border: #84a59d 2.1px dotted;
    box-shadow: 5px 5px;

}

.costBorder:hover {
    box-shadow: 1px 1px;
    border-radius: 2%;
    border: 2.1;
    text-decoration: none;

}

.editHover:hover {
    text-shadow: 2px 2px 4px #84a59d;
    color: #84a59d;
}

a:hover {
    font-weight: 600;
    color: black;
    text-shadow: 2px 2px 4px white;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    h1{
        font-size: 1.3rem;
    }
}

/* /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 2rem;
    }
    h1{
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) { 
    body{
        font-size: 1.5rem;
    }
    h1{
        font-size: 3rem;
    }
 }