<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Daily</h1>
    <ul>
        <% for (let c of comments) {%>
            <li>
                <%= c.comment %> <span>&#10513;</span>
                    <b>
                        <%= c.username %>
                    </b>
                    <br>
                    <a href="/comments/<%= c.id %>">Details</a>
            </li>
        <% } %>
    </ul>

    <a href="/comments/new">Add to do</a>
    <a href="/">Home</a>

</body>

</html>