<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comment</title>
</head>

<body>
    <h1>Add to do:</h1>

    <form action="/comments" method="post">
        <!-- <section>
            <label for="username">Enter priority level</label>
            <input type="text" id="username" placeholder="user name" name="username">
        </section> -->

        <section>
            <label for="username">Enter a priority level:</label>
            <br>
            <select name="username" id="username" multiple>
                <option value="High Priority">High Priority</option>
                <option value="Medium Priority">Medium Priority</option>
                <option value="Low priority">Low priority</option>
                <option value="On Standby">On Standby</option>
            </select>
        </section>

        <section>
            <label for="comment">Your next to do</label> <br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </section>

        <button>Submit</button>

    </form>

    <a href="/comments">Back to index</a>
</body>

</html>